.box(id="details" + item.id style="position: relative")

  table.tab
    if item.entry_list && item.entry_list.length > 0
      thead
        tr
          th(align="center" bgcolor="#dddddd") Verbrauch bis ...
          th(align="center" bgcolor="#dddddd") Anzahl
      tbody
        - for(let entry of item.entry_list)
          tr(onClick="handleGetEntry('" + item.id + "', '" + entry.year + "', '" + entry.month + "')")
            td #{entry.year}/#{entry.month}
            td #{entry.count}

    .single_right
      button.yellow(title="Bearbeiten" onClick="toggleEdit(" + item.id + ")")
        i.fa.fa-pencil
        
  div(id="edit" + item.id style="display: none")
    table.tab
      tr
        th(align="center" bgcolor="#dddddd" colspan=2)
          label(for="year") Verbrauch bis ...
        th(align="center" bgcolor="#dddddd")
          label(for="count") Anzahl
      tr
        td(align="center")
          select(name="year" id="year" + item.id)
            option(value="-") Auswahl
            option(value="2025") 2025
            option(value="2026") 2026
            option(value="2027") 2027
            option(value="2028") 2028
            option(value="2029") 2029
            option(value="2030") 2030
        td(align="center")
          select(name="month" id="month" + item.id)
            option(value="-") Auswahl
            option(value="01") 01
            option(value="02") 02
            option(value="03") 03
            option(value="04") 04
            option(value="05") 05
            option(value="06") 06
            option(value="07") 07
            option(value="08") 08
            option(value="09") 09
            option(value="10") 10
            option(value="11") 11
            option(value="12") 12
            
        td(align="center")
          input(type="number" id="count" + item.id name="count")

      .single_right
        button.white

    .menu_right
      button_breit.yellow(title="Artikel hinzufügen" onClick="updateItemEntry(" + item.id + ", 'add')") Hinzufügen
    .menu_right
      if (item.entry_list && item.entry_list.length>0)  
        button_breit.orange(title="Artikel entnehmen" onClick="updateItemEntry(" + item.id + ", 'sub')") Entnehmen
      else 
        button_breit.orange(style="color: lightgrey; cursor: auto;") Entnehmen

  .single_left.edit
    button.darkgrey(type="submit" title="Produkt löschen" onclick="deleteProduct(" + item.id + ")" style="font-size: 24px")
      i.fa-solid.fa-trash-can

  p(id="metainfo" + item.id style="margin: 5px; text-align: right; position: absolute; bottom: 0px; right: 0px") [ID #{item.id}] 
    span(id="timestamp" + item.id) #{item.timestamp}



  