.box(id="details" + item.id style="position: relative; min-height: 52px")

  if item.entry_list && item.entry_list.length > 0
    table.tab
      thead
        tr
          th(align="center" bgcolor="#dddddd") Verbrauch bis ...
          th(align="center" bgcolor="#dddddd") Anzahl
      tbody
        - for(let entry of item.entry_list)
          tr(title="Eintrag für 1 Artikel übernehmen"
            onClick=`transferEntry(${item.id}, "${entry.year}", "${entry.month}", "${entry.day}")`)
            td= ((isNaN(entry.day)) ? "" : entry.day + ".") + entry.month + "." + entry.year
            td #{entry.count}

  .right(style="position: absolute; top: 0px; right: 0px")
    button.orange(title="Artkel hinzufüghen/entnehmen" onClick="toggleEdit(" + item.id + ")")
      i.fa.fa-pencil
        
  div(id="edit" + item.id style="display: none")
    table.tab
      tr
        th(align="center" bgcolor="#dddddd" colspan=3)
          label(for="year") Verbrauch bis ...
        th(align="center" bgcolor="#dddddd")
          label(for="count") Anzahl
      tr
        td(align="center")
          select(name="year" id="year" + item.id)
            option(value="-") Jahr
            - const year = new Date().getFullYear(); for (var x = year; x <= year + 5; x++)
              option(value=x) #{x}
        td(align="center")
          select(name="month" id="month" + item.id)
            option(value="-") Monat
            - for (var x = 1; x <= 9; x++)
              option(value="0"+x) 0#{x}
            - for (var x = 10; x <= 12; x++)
              option(value=x) #{x}
        td(align="center")
          select(name="day" id="day" + item.id)
            option(value="-") Tag
            - for (var x = 1; x <= 9; x++)
              option(value="0"+x) 0#{x}
            - for (var x = 10; x <= 31; x++)
              option(value=x) #{x}              
        td(align="center")
          input(type="number" id="count" + item.id name="count")

    if (item.entry_list && item.entry_list.length>0)  
      button_breit.orange(title="Artikel entnehmen" onClick="updateEntry(" + item.id + ", 'sub')" style="width: 50%") Entnehmen
    else 
      button_breit.orange(style="color: lightgrey; cursor: auto; width: 50%") Entnehmen
      
    button_breit.yellow(title="Artikel hinzufügen" onClick="updateEntry(" + item.id + ", 'add')" style="width: 50%") Hinzufügen

    div(colspan=2 id="info" + item.id style="font-size: 12px; white-space: nowrap") 
      span [ID #{item.id}] 
      span zuletzt geändert: 
      span(id="timestamp" + item.id) #{item.timestamp}


  